
@{
    Layout = null;
}
<link href="~/eshop/css/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<div class=" alert alert-success">@ViewBag.uyari</div>
@using (Html.BeginForm("PasswordReset", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <br />
    <div class="container">
        <div class="form-group">
            <div class=" form-group">
                <input type="email" name="eposta" placeholder="Email Adresinizi giriniz" />
            </div>
            <div class=" form-group">
                <input type="submit" value="Şifreyi Sıfırla" class="btn btn-danger" />
            </div>
        </div>
    </div>
}
